tutor profile

<p><%= @user.username %></p>
<p><%= @user.email %></p>
<p><%= @user.location %></p>
<p><%= @user.rate %></p>
<p><%= @user.gender %></p>
<p><%= @user.experience %></p>
<p><%= @user.english %></p>
<p><%= @user.skype %></p>
