<h1>Tutor profile</h1>
<div>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(auto_orient: true), class: "my-avatar" %>
  <% end %>
</div>
<p><%= @user.username %></p>
<p><%= @user.email %></p>
<p><%= @user.location %></p>
<p>Rate/hr: <%= @user.rate %></p>
<p>Gender: <%= @user.gender %></p>
<p>Experience (yrs): <%= @user.experience %></p>
<p><%= "English: yes" if @user.english %></p>
<p><%= "Skype: yes" if @user.skype %></p>
<% if %>
<%@user.posts.length > 0 %>
<p>blog posts:</p>
<%end%>
<% @user.posts.each do |post| %>
<p><%= link_to(post.title, "/posts/#{post.id}") %></p>
<% end %>
