<body class="blended home">

<div class="home-div">
  <h1>¡bienvenido!</h1>
</div>
<div class="home-div">
<h3>find Spanish tutors <span class="in-col">en Colombia</span></h3>
</div>
<div class="home-div">
      <h2>Tutors</h2>
      <p>Enter city</p>
      <%= form_tag(users_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= select_tag(:gender, options_for_select(["Male", "Female"], params[:gender]), include_blank: "Any gender") %>
          <%= submit_tag ("Search") %>
          <%= link_to "See all", '/users' %>
        <% end %>
      </div>
</body>
