<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="<%="/"%>">spanishflex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">




    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <% if user_signed_in? %>
      <div class="margin-left">Logged in as <strong><%= current_user.username %></strong></div>
      <a class="nav-link" href="<%=edit_user_registration_path%>">Edit profile</a>
    <a class="nav-link" href="<%="/users/#{current_user.id}"%>">Profile</a>
  <a class="nav-link" href="/posts/new">New post</a>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
    <a class="nav-link" href="<%="/"%>">Home</a>
    <a class="nav-link" href="<%="/users"%>">Tutors</a>
    <a class="nav-link" href="<%="/posts"%>">Blog</a>
    <a class="nav-link" href="<%=new_user_registration_path%>">Sign up</a>
<a class="nav-link" href="<%=new_user_session_path%>">Login</a>

    <% end %>
  </div>
</nav>
