<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light title-font ">
  <%= image_tag("logo.svg", alt: "logo", size: "50x50") %>
  <a class="nav-link" href="<%="/"%>">saltamontes</a>

  <!-- <a class="navbar-brand" href="#">
          <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">




    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <% if user_signed_in? %>
      <div class="margin-left">logged in as <strong><%= current_user.username %></strong></div>
      <a class="nav-link" href="<%=edit_user_registration_path%>">edit profile</a>
    <a class="nav-link" href="<%="/users/#{current_user.id}"%>">profile</a>
  <a class="nav-link" href="<%="/posts/new"%>">new post</a>
  <a class="nav-link" href="<%="/contact"%>">contact</a>
  <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
    <a class="nav-link" href="<%="/"%>">home</a>
    <a class="nav-link" href="<%="/users"%>">tutors</a>
    <a class="nav-link" href="<%="/posts"%>">blog</a>
    <a class="nav-link" href="<%="/contact"%>">contact</a>
    <a class="nav-link" href="<%=new_user_registration_path%>">sign up</a>
<a class="nav-link" href="<%=new_user_session_path%>">login</a>

    <% end %>
  </div>
</nav>
